---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Instituto Hub</title>
	</head>
	<body>
		<div class="p-4">
			<h1 class="text-4xl font-bold text-blue-600 mb-4">Instituto Hub Astro + Tailwind v4 + DaisyUI v5</h1>
			<button class="btn btn-primary">DaisyUI Button Funciona!</button>
		</div>
	</body>
</html>
